@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #00BFFF;
    --color-secondary: #00A3E0;
    --color-button: #00BFFF;
    --color-button-hover: #0099CC;
    --color-background: #fbfdf8;
    --color-background-dark: #010409;
    --color-menu: rgb(1, 4, 9);
    --color-text-dark: #010409;
    --color-text-light: #FAFBF5;
    --color-accent: #40E0D0;
    --font-main: "Bova Nova", serif;
}