@import url('./variables.css');
@import url('./components/header.css');
@import url('./components/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

/* width  scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* scrollbar track color */
::-webkit-scrollbar-track {
    background: var(--color-menu);
    border-radius: 10px;
}

/* scrollbar thumb color and shape */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

/* hover on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-button-hover);
}

body {
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}
