@import url('/shared/css/style.css');

.main {
    padding: 0;
    margin: 0 auto;
}

.page-header {
    background-image: url('/imgs/categories/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-text-light);
    padding: 1rem 0;
    margin: 0 0 3rem 0;
    position: relative;
}

.page-header-container {
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.page-header__content {
    flex: 1;
    min-width: 300px;
}

.page-header__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 3px 3px 4px var(--color-primary);
}

.page-header__subtitle {
    color: var(--color-text-light);
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 500px;
}

.page-header__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}


