@import url('../../shared/css/style.css');

*,
*::before,
*::after{
    box-sizing: border-box;
}

.page-wrapper{
    padding: 50px 0 30px;
}
.cart-detail{
    font-size: 40px;
    color: var(--color-primary) !important;
    font-weight:bold;
}
.cart-part{
    padding:35px 0;
    border-bottom:1px solid gray;
    align-items:center;
    transition: all .3s ease;
}
.cart-part:hover{
    background: #fafafa;
}

.text-start{
    font-size: 24px;
}

.text-center{
    font-size: 24px;
}

.cart-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-img img{
    width:95px;
    height:135px;
    object-fit:cover;
    border-radius:4px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}
.cart-desc{
    display:flex;
    align-items:center;
}

.cart-quantity{
    text-align: center;
}
.cart-quantity .form-control{
    max-width:90px;
    margin:auto;
}
.cart-price{
    text-align: center;
}
.cart-total{
    text-align: center;
}
.cart-remove button{
    background:#f7f5f5;
    border:none;
    width:48px;
    height:38px;
    border-radius:6px;
    border: 1px solid rgb(144, 3, 3);
    color:rgb(245, 7, 7);
    display:flex;
    align-items:center;
    justify-content:center;
}
.cart-remove button:hover{
    background-color:rgb(238, 31, 31);
}
.cart-summary{
    width:100%;
}

.product-total{
    text-align:right;
    margin-bottom:20px;
}
#total{
    color:#198754;
    font-weight:bold;
}
.product-checkout{
    text-align: right;
    margin: 20px 0;
    margin-left:auto;
}
.product-checkout a{
    font-size: 15px;
    display: inline-block;
    width: 180px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}
.cart-empty{
    width: 500px;
    margin: 100px auto 0;
    text-align: center;
   font-size: 20px;
   letter-spacing: 2px; 
}
.inner-cart{
    background:#eef0f2;
    padding:35px;
    border-radius:10px;
    border: 2px solid #d0d7de;
}
.cart-header{
    font-size: 20px;
    font-weight:700;
    color:#2c2c2c;
    letter-spacing:.5px;
}

/* popup checkout succesful*/
.checkout-popup{
    position: fixed;
    inset:0;
    background: rgba(0,0,0,0.5);
    display:none;            
    justify-content:center;
    align-items:center;
}
.popup-box{
    background:#fff;
    padding:55px 70px;
    border-radius:18px;
    text-align:center;
    width:480px;
    max-width:90%;
    box-shadow:0 25px 70px rgba(0,0,0,.25);
    animation:pop .25s ease;
}
.popup-box h2{
    font-size:30px;
    font-weight:bold;
}

.popup-box p{
    font-size:18px;
    color:#666;
}
.popup-box button{
    margin-top:25px;
    padding:14px 50px;
    font-size:18px;
    font-weight:bold;
    background:#00A3E0;
    border:none;
    border-radius:10px;
}

/* animation */
@keyframes pop{
    from{
        transform:scale(.8);
        opacity:0;
    }
}
/* mobile */    

@media(max-width:768px){

    .inner-cart{
        padding:20px;
    }

    .cart-detail{
        font-size:32px;
    }

    .cart-img img{
        width:70px;
        height:95px;
    }

    .cart-part{
        padding:15px 0;
    }

    /* label mobile */
    .cart-desc::before{content:"Book: ";font-weight:bold;}
    .cart-price::before{content:"Price: ";font-weight:bold;}
    .cart-total::before{content:"Total: ";font-weight:bold;}
    .cart-quantity::before{content:"Quantity: ";font-weight:bold;}

    .product-total{
        text-align:left;
    }
    .cart-detail{
        font-size: 32px;
    }
    .cart-quantity input{
        width:55px;
        height:30px;
        border-radius:6px;
        border:1px solid #ccc;
    }
    .cart-summary{
        margin-right: 0;
    }
    .cart-part{
        gap:12px;
        padding: 15px 0;
        background:#a99b9b;
        border-radius:10px;
        padding:15px;
    }
    .inner-cart{
        padding: 20px;
    }
    .cart-container{
        padding: 10px;
    }
    .page-wrapper{
        padding:30px 10px;
    }
    .cart-img img{
        width: 70px;
        height: 95px;
    }
    .cart-desc{
       font-size: 16px;
    }
    .cart-quantity,
    .cart-price,
    .cart-total,
    .cart-remove{
        text-align:left;
    }        
}
    
