.contact_hero {
  position: relative;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: url("/imgs/contactPage/photo1.png") center center no-repeat;
  background-size: cover;
}

.contact_hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.contact_hero .container {
  position: relative;
  z-index: 2;
}

.contact_hero-title {
  font-family: var(--font-main);
  font-weight: 1000;
  font-size: 65px;
  margin-bottom: 15px;
  color: var(--color-text-light);
  text-shadow: 4px 4px 8px var(--color-primary);
}

.contact_hero-desc {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-light);
}

.contact_content {
  padding: 80px 0;
  background: var(--color-background);
}

.contact_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_info {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact_info h3 {
  color: var(--color-primary);
  margin-bottom: 20px;
  font-weight: 700;
}

.contact_item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.contact_item p{
  margin: 0;
  color: var(--color-text);
  font-size: 18px;
}

.contact_item i {
  color: var(--color-primary);
  font-size: 18px;
  min-width: 20px;
}

.contact_social {
  border-top: 1px solid gray;
  padding-top: 20px;
  margin-top: 25px;
}

.contact_social h5 {
  margin-bottom: 18px;
  color: var(--color-primary);
  font-weight: 600;
}

.social_icons {
  display: flex;
  gap: 15px;
}

.social_icon {
  width: 45px;
  height: 45px;
  background: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.8s;
  text-decoration: none;
}

.social_icon:hover {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: rotate(360deg);
}

.contact_map iframe {
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.contact_form {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact_form h3 {
  color: var(--color-primary);
  margin-bottom: 25px;
  font-weight: 700;
}

.form-control {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(0, 191, 255, 0.2);
}

.contact_faq {
  margin-top: 30px;
  padding: 10px 15px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact_faq h4 {
  color: var(--color-primary);
  margin-bottom: 15px;
  font-weight: 700;
}

.faq_item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}

.faq_item strong {
  display: block;
  margin-bottom: 5px;
}
